<h1><u><%= @user.name %>'s Profile</u></h1>

<% if @events_hosted.any? %>
  <h3>Events hosted</h3>
  <ul>
    <% @events_hosted.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @events_attended.any? %>
  <h3>Events attended</h3>
  <ul>
    <% @events_attended.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @invites_received.any? %>
  <h3>Pending invites</h3>
  <div class="container-fluid">
    <% @invites_received.each do |event, invite| %>
      <div class="row">
        <div class="col-md-4"><%= invite.map{ |i| i.inviter.name }.join(",") %> <%= invite.many? ? "invite" : "invites" %> you to <%= link_to event.title, event_path(event) %></div>
        <div class="col-md-2"><%= button_to "Accept", attendances_path(attendance: {event_attended_id: event.id} ), method: :post, class: ["btn", "btn-default"] %></div>
      </div>
    <% end %>
  </div>
<% end %>